{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended"
    ],
    "plugins": [
        "jest"
    ],
    "env": {
        "jest/globals": true
    },
    "settings": {
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    },
    "rules": {
        // Turn on errors for missing imports.
        "import/no-unresolved": "error",
        "import/named": "off",
        "no-useless-constructor": "off",
        "no-console": [
            "off"
        ]
    }
}
