{
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
    "plugins": [
        "jest"
    ],
    "env": {
        "jest/globals": true
    },
    "rules": {
        "no-console": ["off"]
    }
}
