body {
	margin: 0;
	padding: 0;
}
#top-bar {
	display: flex;
	padding: 5px 10px 0;
	background-color: rgb(29, 35, 39);
}
#top-bar > a {
	margin-left: auto;
}
#top-bar > a > svg {
	fill: #a4a4a4;
}
iframe {
	border: none;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}
