body,
html {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Utilities */
.hidden {
	display: none !important;
}

/* Two-column layout */
#app {
	display: flex;
	height: 100vh;
}

#app > div {
	width: 50%;
}

#app > div:first-child {
	border-right: 1px solid #000;
}

/* Breadcrumbs */
.breadcrumbs {
	height: 40px;
	border-bottom: 1px solid #000;
}

.breadcrumbs ul {
	padding: 5px;
}

/* App Main */
.app-main {
	padding: 10px;
}

/* Preview tabs. */
.preview-tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #000;
}

.preview-tabs-tab {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #708090;
	color: #fff;
}

.preview-tabs-tab.selected {
	background: #fff;
	color: #000;
	font-weight: 700;
}

.preview-tabs-tab > * {
	cursor: pointer;
}

.preview-tabs-tab:first-child {
	border-right: 1px solid #000;
}

.preview-tabs-tab label {
	padding: 10px;
}

.preview-tabs-tab input {
	display: none;
}

/* Preview */
.preview .preview-tab-panel {
	width: 100%;
	height: 100%;
}

.preview iframe {
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
